apiVersion: v1
kind: Service
metadata:
  name: crewcash-rabbitmq-lb
  namespace: rabbitmq-system
spec:
  type: LoadBalancer
  selector:
    rabbitmq.com/cluster: crewcash-rabbitmq
  ports:
    - name: management
      protocol: TCP
      port: 15672
      targetPort: 15672
    - name: amqp
      protocol: TCP
      port: 5672
      targetPort: 5672