adminUser: admin
adminPassword: admin

service:
  type: ClusterIP

persistence:
  enabled: false

datasources:
  datasources.yaml: |
    apiVersion: 1

    deleteDatasources:
      - name: Prometheus
      - name: Tempo
      - name: Loki

    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus-crewcash
        access: proxy
        orgId: 1
        url: http://crewcash-prometheus-server.prometheus-system.svc.cluster.local:9090
        basicAuth: false
        isDefault: false
        version: 1
        editable: true

      - name: Tempo
        type: tempo
        uid: tempo-crewcash
        access: proxy
        orgId: 1
        url: http://tempo.prometheus-system.svc.cluster.local:3100
        basicAuth: false
        isDefault: false
        version: 1
        editable: true
        jsonData:
          httpMethod: GET
          tracesToLogs:
            datasourceUid: 'loki-crewcash'
            tags: ['instance','pod','namespace','hostname']
            mappedTags:
              - key: 'service.name'
                value: 'application'
            mapTagNamesEnabled: true
            spanStartTimeShift: '1h'
            spanEndTimeShift: '1h'
            filterByTraceID: true
            filterBySpanID: false
            lokiSearch: true
          lokiSearch:
            datasourceUid: 'loki-crewcash'
          serviceMap:
            datasourceUid: 'prometheus-crewcash'
          search:
            hide: false
          nodeGraph:
            enabled: true

      - name: Loki
        type: loki
        uid: loki-crewcash
        access: proxy
        orgId: 1
        url: http://loki.logging.svc.cluster.local:3100
        basicAuth: false
        isDefault: true
        version: 1
        editable: true
        jsonData:
          derivedFields:
            - datasourceUid: tempo-crewcash
              matcherRegex: '\[.+,(.+?),'
              name: TraceID
              url: '$${__value.raw}'