name: Terraform Deploy

on:
  push:
    # branches: [main]
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      # - name: Terraform Init
      #   env:
      #     TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
      #   run: terraform init

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::471112759337:role/github-actions-terraform-role
          aws-region: eu-central-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        env:
          TF_VAR_terraform_role_arn: "arn:aws:iam::471112759337:role/github-actions-terraform-role"
        run: terraform plan -out=tfplan

      # - name: Terraform Apply
      #   if: github.ref == 'refs/heads/main'
      #   env:
      #     TF_VAR_terraform_role_arn: "arn:aws:iam::471112759337:role/github-actions-terraform-role"
      #   run: terraform apply -auto-approve tfplan
